.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 24px;

  background-color: var(--blue-800);
}

@media screen and (max-width: 375px) {
  .page {
    align-items: start;
    padding: 0;
  }
}
