.sign_up {
  display: grid;
  grid-template-columns: auto;
  align-content: start;
  align-items: start;
  justify-items: center;
  justify-content: center;

  border-radius: 0px;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--white);
  padding: 0;
}

.sign_up__img {
  width: 100%;
}

.sign_up__info {
  order: 2;
  max-width: 400px;
  padding: 20px;
}

.sign_up__title {
  margin: 0 0 15px;
}

.sign_up__text {
  margin: 0 0 25px;
}

.sign_up__list {
  list-style-type: none;
  margin: 0 0 30px;
  padding: 0;   
}

.sign_up__check {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin: 0 0 10px;
}

.sign_up__icon {
  display: block;
}

@media screen and (min-width: 376px) {
  .sign_up {
    padding: 15px;
    align-items: center;
    min-height: auto;
    border-radius: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .sign_up {
    padding: 20px;
    grid-template-columns: auto auto;
  }

  .sign_up__title {
    font-size: 3rem;
  }

  .sign_up__info {
    order: 0;
  }
}
