*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('./shared/assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('./shared/assets/fonts/Roboto-Bold.ttf') format('truetype');
}

:root {
  --red: hsl(4, 100%, 67%);
  --pink: hsl(346, 97%, 65%);
  --green: hsl(111, 83%, 40%);

  --blue-800: hsl(234, 29%, 20%);
  --blue-700: hsl(235, 18%, 26%);
  --grey: hsl(0, 0%, 58%);
  --white: hsl(0, 0%, 100%);

  font-family:
    'Roboto',
    system-ui,
    -apple-system,
    Segoe UI,
    Arial,
    sans-serif;
  font-size: 16px;
  color: var(--blue-800);
}

body {
  margin: 0;
  background-color: var(--white);
}
